.homogeneous-container {
	position: relative;
}.homogeneous-container.homogeneous-tab {
	top: -25px;
}

.homogeneous-tab-header {
	list-style: none;
	margin: 0;
	padding: 0;
}.homogeneous-tab-header > li {
	padding: 5px 10px;
	cursor: pointer;
}.homogeneous-tab-header > li.active {
	background-color: #fff;
}.homogeneous-tab-content {
	border-top: 1px solid #ddd;
	overflow: auto;
}

.horizontal-tab .homogeneous-tab-header > li {
	float: left;
}
.vertical-tab .homogeneous-tab-header {
	float: left;
}

/*
// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
*/
.clearfix { *zoom: 1;}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    /* 
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    */
    line-height: 0;
}
.clearfix:after {
    clear: both;
}